body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-device-width: 993px) {
}

@media only screen and (min-width: 993px) {
  .comtainer {
    width: 90%
  }
}

@media only screen and (max-device-width: 586px) {
  .card-square {
    min-width: 50% !important
  }
}