.card-square {
  min-width: 229px;
  max-width: 229px;
  height: 100px;
  border-radius: 15px !important;
  font-size: 28px;
  font-weight: bold !important;
}

.card-square .fa {
  font-size: 40px;
  width: 60px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

span {
  font-size: 16px;
}

.card-number {
  font-size: 28px
}

