p {
  width: 289px;
  height: 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
}